
.main {
   
    max-width: 500px;
    margin: auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color:grey；
}
  @media screen and (max-width: 600px){
    .main {
   
      max-width: 1000px;

    }
  }
  img{
    height: 30%;
      width: 50%;
      
  }
  .name {
    color: rgb(53, 52, 52);
    font-size: 24px;
  }
  .email{
    color: grey;
    font-size: 18px;
  }
  
  #sell, #selling, #edit, #homepage{
    border: 5%;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color:grey;
    text-align: center;
    width: 50%;
    font-size: 14px;
  }
  #logout{
    border: 5%;
    margin-top: 10%;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    width: 50%;
    font-size: 14px;
    margin-bottom: 20%;
    
  }
  
 