.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #a51417;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  height: 20px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#back{
  background-color: #007360;
}