.main {
   margin-top: 10%;
    max-width: 500px;
    margin: auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color:grey；
  }
  img{
      margin-top: 7%;
      width: 50%;
      height: 30%;
      position:center;
      
  }
 
    

  .info{
      margin-top: 7%;
      text-align: center;
  }
  input[type=text]{
    width: 75%;
    height: 40px;
    padding: 5px;
    margin-bottom: 25px;
    margin-top: 25px;
    border: 2px solid #ccc;
    color: #4f4f4f;
    font-size: 16px;
    border-radius: 5px;
    }
    p{
       width:75%;
       margin-left: 12.5%;
       text-align: left;
    color:grey;
    font-size: 18px;
    }
    #Save,#Back{
        
        width:45%;
        height:5%;
        color: white;
        background-color:grey;
        font-size: 18px;
        margin-bottom: 15%;
        margin-top:7%;


    }
    label{
        font-size: 18px;
        color: #4f4f4f;
        text-align: left;
        

    }
    .select, .year{
        width:75%;


    }