/*=== Trigger  ===*/
.animate {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
/*=== FADE IN LEFT ===*/
@-webkit-keyframes fadeInLeft {
    from {
      opacity: 0;
      /* -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0); */
    }
   
    to {
      opacity: 1.2;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      /* -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0); */
    }
   
    to {
      opacity: 1.2;
      -webkit-transform: none;
      transform: none;
    }
}
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }

  /* .one {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
    } */