* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
div.infoboxheader{
  background-color: #a51417;
  width: 100%;
  height: 50px;

}
h1.infobox{
  color: white;
  background-color:#a51417;
  font-weight: bolder;
  padding-left: 10px;
  margin: 0px 0px 2px 10px;
  text-transform: uppercase;
  display: table-cell;
  vertical-align: middle;
 
} 
.infoboxheader img{
  float:left;
  margin-top:2px;
  height: 90%;
  object-fit: contain;
}

.topnav {
  overflow: hidden;
  /* background-color: #6c7373; */
  color:white;
  background-color: #e9e9e9;
  /* background-color: #3d3d3d; */
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  /* background-color: #2196F3; */
  background-color: #6c7373;
  /* background-color: white; */
  color: white;
}

.topnav .search-container {
  float: right;
  width: 400px;
}

.topnav select{
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 80%;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

table{
  width:100%;
  table-layout: fixed;
  display: table;
  background-color: white;
  /* border: #c8c8c8; */
}
tr{
  height: 500px;
}
td{
  /* width: 16.666%; */
  display: inline-block;
  max-width: 50%;
  vertical-align: top;
  height: 500px;
  position: relative;
  overflow: hidden;
}
p{
  word-wrap: break-word;  
  
}
p.bookname{
  color: #007360;
}

.coursecode{
  color: #6c7373;
}

.message{
  color: #6c7373;
}

img.bookimg{
  width: 100%;
  height: 50%;
}
table, th, td {
  border: 1px solid  #c8c8c8;

}
td:hover{
  border: 5px solid #67c8c7;
  /* background-color: #a51417; */
}
button.request_btn{
  position: absolute;
  bottom: 3%;
}