    body{
       
       background-image: url("/static/image/background.jpg");
       background-size: cover;
   } 
    .main {
        margin-top: 10%;
         max-width: 500px;
         margin: auto;
         text-align: center;
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
         background-color:grey；
       }
       img{
           margin-top: 7%;
           width: 50%;
           position:center;
           
       }
       
    
    
   
    .main{
    
    padding: 10px 50px 10px;
   
    
  
    margin-top:60px;
    }
    @media screen and (max-width: 600px){
        .main {
       
          max-width: 1000px;
    
        }
      }

    input[type=text],datalist{
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 25px;
    margin-top: 5px;
    border: 2px solid #ccc;
    color: #4f4f4f;
    font-size: 16px;
    border-radius: 5px;
    }
    p{
        width:75%;
        text-align: left;
     color:grey;
     font-size: 18px;
     }
    .preview{
        margin-bottom: 10%;
    }
    label{
    color: #464646;
    text-shadow: 0 1px 0 #fff;
    font-size: 16px;
    
    }
    .select .input{
        width:100%;
        height:3%;

    }
    #Publish,#Cancel{
    font-size: 16px;
    background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
    border: 1px solid #e5a900;
    color: #4E4D4B;
    font-weight: bold;
    cursor: pointer;
    width: 49%;
    border-radius: 5px;
    margin-top: 10%;
    margin-bottom:10%;
    padding: 7px 0;
    }
  