<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personal Profile </title>
  {% load static %}
  <link rel="shortcut icon" href="{%  static 'image/wustl.png' %}">
  <link type="text/css" rel="stylesheet" href="{% static "css/account.css" %}" />
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/start/jquery-ui.css" type="text/css"
    rel="Stylesheet" />
  <!-- We need the style sheet linked
         above or the dialogs/other parts of jquery-ui won't display correctly!-->

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <!-- The main library. 
        Note: must be listed before the jquery-ui library -->

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.9.3/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.9.3/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-storage.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-messaging.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-functions.js"></script>
  <script type="application/javascript" src="https://unpkg.com/react@16.0.0/umd/react.production.min.js"></script>
  <script type="application/javascript"
    src="https://unpkg.com/react-dom@16.0.0/umd/react-dom.production.min.js"></script>
  <script type="application/javascript" src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>
  <script src="{% static "js/account.js" %}"></script>
</head>

<body>
  <div class="main">

    <img id='img' src="{% static "image/img.jpg" %}" alt="Profile Picture">
    <p id='name'>example</p>
    <p id='email'>example@wustl.com</p>




    <div id='button'>
      <form>
        <input type="button" id="sell" value="I WANT TO SELL A BOOK!" />
        <input type="button" id="selling" value="My sellings" />
        <input type="button" id="edit" value="Edit Profile" />
        <input type="button" id="homepage" value="Homepage" />
        <input type="button" id="logout" value="Log Out" />


      </form>
    </div>



  </div>


</body>
<script>


  firebase.auth().onAuthStateChanged(function (user) {
    if (user) {
      updateuser(user);
    }
    else {
      window.location.replace('signin');

    }
  })
  $("#logout").on("click", logout);
  $("#selling").on("click", myselling);
  $("#homepage").on("click", homepage);
  $("#sell").on("click", sellbook);
  $("#edit").on('click', editprofile);
  window.onerror = function myErrorHandler(errorMsg, url, lineNumber) {
    alert("Error occured: " + errorMsg);//or any message
    return false;
  }
</script>

</html>