<html>

<head>

    <title>Edit Profile</title>
    {% load static %}
    <link rel="shortcut icon" href="{%  static 'image/wustl.png' %}">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/start/jquery-ui.css" type="text/css"
        rel="Stylesheet" />
    <!-- We need the style sheet linked
above or the dialogs/other parts of jquery-ui won't display correctly!-->

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!-- The main library. 
Note: must be listed before the jquery-ui library -->

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- firebase services -->
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-messaging.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-functions.js"></script>
    <link rel="stylesheet" href="{% static "css/editprofile.css" %}" />
    <script src="{% static "js/editprofile.js" %}"></script>
</head>
<script>
    function changeCategories() {

        var select = document.querySelectorAll(".select");
        var Categories = new Array();
        Categories['0'] = ['All Categories'];
        Categories['Art & Science'] = ["AFRICAN AND AFRICAN-AMERICAN STUDIES", "CHEMISTRY", "EAST ASIAN STUDIES", "JAPANESE", "MIND, BRAIN, AND BEHAVIOR", "PHYSICS", "RUSSIAN", "AMERICAN CULTURE STUDIES", "CHILDREN'S STUDIES", "ECONOMICS", "GERMAN", "JEWISH, ISLAMIC AND MIDDLE EAST STUDIES", "MOVEMENT SCIENCE", "POLITICAL ECONOMY", "RUSSIAN STUDIES", "ANTHROPOLOGY", "CHINESE", "EDUCATION", "GREEK", "KOREAN", "MUSIC", "POLITICAL SCIENCE", "SOCIOLOGY", "ARABIC", "CLASSICS", "ENGLISH LITERATURE", "HEBREW", "LATIN", "NURSING SCIENCE", "PORTUGUESE", "SPANISH", "ARCHAEOLOGY", "COLLEGE WRITING PROGRAM", "ENVIRONMENTAL STUDIES", "HINDI", "LATIN AMERICAN STUDIES", "PRAXIS", "SPEECH AND HEARING", "COMPARATIVE LITERATURE", "EUROPEAN STUDIES", "HISTORY", "LEGAL STUDIES", "PSYCHOLOGY", "ASIAN AMERICAN STUDIES", "DANCE", "FILM AND MEDIA STUDIES", "LINGUISTICS", "PHILOSOPHY", "RELIGION AND POLITICS", "URBAN STUDIES", "BIOLOGY AND BIOMEDICAL SCIENCES", "DRAMA", "FIRST-YEAR PROGRAMS", "INTERNATIONAL AND AREA STUDIES", "MATHEMATICS AND STATISTICS", "PHILOSOPHY-NEUROSCIENCE-PSYCHOLOGY", "RELIGIOUS STUDIES", "WOMEN, GENDER, AND SEXUALITY STUDIES", "CENTER FOR THE HUMANITIES", "EARTH AND PLANETARY SCIENCES", "FRENCH", "ART HISTORY"];
        Categories['Engineering & Applied Science'] = ["BIOMEDICAL ENGINEERING", "COMPUTER SCIENCE AND ENGINEERING", "ELECTRICAL AND SYSTEMS ENGINEERING", "ENERGY, ENVIRONMENTAL AND CHEMICAL ENGR", "GENERAL ENGINEERING", "MECHANICAL ENGINEERING"];
        Categories['Architecture'] = ["ARCHITECTURE"];
        Categories['LAW School'] = ["LAW"];
        Categories['Medicine'] = ['Anatomy and Neurobiology', 'Anesthesiology', 'Genetics', 'Neurology', 'Obstetrics and Gynecology', 'Pathology', 'Pediatrics', 'Otolaryngology', 'Radiology', 'Surgery'];
        Categories['Business'] = ["MANAGEMENT", "ACCOUNTING", "ADMINISTRATION", "MANAGERIAL ECONOMICS", "DATA ANALYTICS", "MARKETING", "FINANCE"];
        Categories['Design & Arts'] = ["DESIGN & VISUAL ARTS"];
        Categories['Public Health & Social Work'] = ["SOCIAL STUDIES"];
        Categories['Extracurricular Reading'] = ['Literature & Fiction', 'Classic', 'Children', 'Cookbooks', 'Health & Fitness', 'Romance', 'History', 'Science Fiction & Fantasy', 'Mystery', 'Religion'];

        var x = select[0].value


        select[1].options.length = 0;


        for (i = 0; i < Categories[x].length; i++) {
            option = new Option(Categories[x][i], Categories[x][i]);
            select[1].options.add(option);
        }

    }


</script>

<body>
    <div class='main'>
        <div class='preview'>
            <img id="Uploaded" src="{% static "image/img.jpg" %}" alt="your image" /><br>
            <input type="file" accept="image/*" onchange="preview(event)">
        </div>
        <div class=info>
            <form action="POST">

                <input type="text" class="name" id="name" placeholder="Username" />

                <p id="email">example@wustl.edu</p>


            </form>
        </div>
        <div class='choose'>
            <form method="POST">
                <label> Which year are you in? :</label>
                <select class="year" id="grade">
                    <option value="0" selected='selected'>---</option>
                    <option value="Freshman">Freshman</option>
                    <option value="Sophomore/">Sophomore/</option>
                    <option value="Junior">Junior</option>
                    <option value="Senior">Senior</option>
                    <option value="Master">Master</option>
                    <option value="Doctor">PhD</option>
                    <option value="Post">PostGraduate</option>
                </select>
                <br>


                <label> Your School? :</label>
                <br>
                <select class="select" onChange="changeCategories()">
                    <option value="0" selected='selected'>Undeclared</option>
                    <option value="Art & Science">Art & Science</option>
                    <option value="Engineering & Applied Science">Engineering & Applied Science</option>
                    <option value="Architecture">Architecture</option>
                    <option value="LAW School">LAW School</option>
                    <option value="Medicine">Medicine</option>
                    <option value="Business">Business</option>
                    <option value="Design & Arts">Design & Arts</option>
                    <option value="Public Health & Social Work">Public Health & Social Work</option>
                    <option value="Extracurricular Reading">Extracurricular Reading</option>
                </select>
                <br>
                <label>Your Major? : </label>
                <br>
                <select class="select" id="major">

                    <option>Undeclared</option>
                </select>


            </form>

        </div>
        <div class='submit'>
            <form>
                <input type="button" id="Save" value="Save" />
                <input type="button" id="Back" value="Back" />
            </form>
        </div>

    </div>

</body>

</html>
<script>
    firebase.auth().onAuthStateChanged(function (user) {
        if (user) {
            refreshui(user);
        }
        else {
            window.location.replace('signin');

        }
    })
    $("#Back").on('click', cancel)
    $("#Save").on('click', saveprofile);
    window.onerror = function myErrorHandler(errorMsg, url, lineNumber) {
        alert("Error occured: " + errorMsg);//or any message
        return false;
    }
</script>
<script type='text/javascript'>
    function preview(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('Uploaded');
            output.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
        changeimgref(event.target.files[0]);
    }
</script>