<html lang="en">

<head>
    {% load static %}
    <link rel="shortcut icon" href="{%  static 'image/wustl.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wustl Rustle</title>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/start/jquery-ui.css" type="text/css"
        rel="Stylesheet" />

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>

    <!-- firebase services -->
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-messaging.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-functions.js"></script>

    <script src="{% static "js/homepage.js" %}"></script>

    <link type="text/css" rel="stylesheet" href="{% static "css/homepage.css" %}" />
    <link type="text/css" rel="stylesheet" href="{% static "css/button.css" %}" />
    <link type="text/css" rel="stylesheet" href="{% static "css/fadein.css" %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="infoboxheader infoboxheaderuser">
        <img src="{%  static 'image/wustl.png' %}" alt="Home">
        <h1 class="infobox">Usedbook Website</h1>
    </div>
    <div class="topnav">
        <a class="active" href="homepage">Home</a>
        <!-- <a href="about">About</a> -->
        <a href="sellbook">Sell Book</a>
        <a href="account">Account</a>
        <div class="search-container">
            <form method="POST" action="search">
                {% csrf_token %}
                <!-- <select name="school" id="school">
                    <option value="All Categories" selected='selected'>All Categories</option>
                    <option value="Art & Science">Art & Science</option>
                    <option value="Engineering & Applied Science">Engineering & Applied Science</option>
                    <option value="Architecture">Architecture</option>
                    <option value="LAW School">LAW School</option>
                    <option value="Medicine">Medicine</option>
                    <option value="Business">Business</option>
                    <option value="Design & Arts">Design & Arts</option>
                    <option value="Public Health & Social Work">Public Health & Social Work</option>
                    <option value="Extracurricular Reading">Extracurricular Reading</option>
                </select>
                <select name="subject" id="subject">
                </select> -->
                <input type="text" id="coursecode_search" name="coursecode_search"
                    placeholder="Search course code (e.g. CSE517)">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    <div>
        <table id="booklist" class="box animate fadeInLeft one">
        </table>
    </div>
    <script>
        // loadsubject();
        loadbooklist();
        window.onerror = function myErrorHandler(errorMsg, url, lineNumber) {
            alert("Error occured: " + errorMsg);//or any message
            return false;
        }
    </script>
</body>


</html>