<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wustl Rustle</title>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/start/jquery-ui.css" type="text/css"
        rel="Stylesheet" />
    <!-- We need the style sheet linked
        above or the dialogs/other parts of jquery-ui won't display correctly!-->

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!-- The main library. 
       Note: must be listed before the jquery-ui library -->

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>
    <!-- firebase services -->
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-messaging.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-functions.js"></script>
    {% load static %}
    <link rel="shortcut icon" href="{%  static 'image/wustl.png' %}">
    <script src="{% static "js/myselling.js" %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static "css/button.css" %}" />
    <link type="text/css" rel="stylesheet" href="{% static "css/homepage.css" %}" />
    <link type="text/css" rel="stylesheet" href="{% static "css/fadein.css" %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="box animate fadeInLeft one">
        <table id="booklist">
        </table>
        <button id="back" class="button"><span>Back </span> </button>
    </div>
    <script>
        $("#back").on('click', function () {
            window.location.replace('account');
        })
        firebase.auth().onAuthStateChanged(function (user) {
            if (user) {
                const db = firebase.firestore();
                //get book info
                let i = 0;
                let bookRef = db.collection("book");
                let user = firebase.auth().currentUser;
                let email = user.email;
                console.log(email)
                bookRef.where("email", "==", email)
                    .get().then(function (querySnapshot) {
                        querySnapshot.forEach(function (doc) {
                            insert_seller(doc, "booklist", i);
                            i++;
                        });
                    })
            }
            else {
                window.location.replace('signin');

            }
        })
        window.onerror = function myErrorHandler(errorMsg, url, lineNumber) {
            alert("Error occured: " + errorMsg);//or any message
            return false;
        }
    </script>
</body>


</html>