<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sell Book</title>
    {% load static %}
    <link rel="shortcut icon" href="{%  static 'image/wustl.png' %}">
    <link rel="stylesheet" href="{% static "css/sellbook.css" %}" />
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/start/jquery-ui.css" type="text/css"
        rel="Stylesheet" />
    <!-- We need the style sheet linked
    above or the dialogs/other parts of jquery-ui won't display correctly!-->

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!-- The main library. 
   Note: must be listed before the jquery-ui library -->

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- firebase services -->
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-messaging.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-functions.js"></script>

    <script src="{% static "js/sellbook.js" %}"></script>
</head>

<script>
    function changeCategories() {

        var select = document.querySelectorAll(".select");
        var Categories = new Array();
        Categories['All Categories'] = [''];
        Categories['Art & Science'] = ["AFRICAN AND AFRICAN-AMERICAN STUDIES", "CHEMISTRY", "EAST ASIAN STUDIES", "JAPANESE", "MIND, BRAIN, AND BEHAVIOR", "PHYSICS", "RUSSIAN", "AMERICAN CULTURE STUDIES", "CHILDREN'S STUDIES", "ECONOMICS", "GERMAN", "JEWISH, ISLAMIC AND MIDDLE EAST STUDIES", "MOVEMENT SCIENCE", "POLITICAL ECONOMY", "RUSSIAN STUDIES", "ANTHROPOLOGY", "CHINESE", "EDUCATION", "GREEK", "KOREAN", "MUSIC", "POLITICAL SCIENCE", "SOCIOLOGY", "ARABIC", "CLASSICS", "ENGLISH LITERATURE", "HEBREW", "LATIN", "NURSING SCIENCE", "PORTUGUESE", "SPANISH", "ARCHAEOLOGY", "COLLEGE WRITING PROGRAM", "ENVIRONMENTAL STUDIES", "HINDI", "LATIN AMERICAN STUDIES", "PRAXIS", "SPEECH AND HEARING", "COMPARATIVE LITERATURE", "EUROPEAN STUDIES", "HISTORY", "LEGAL STUDIES", "PSYCHOLOGY", "ASIAN AMERICAN STUDIES", "DANCE", "FILM AND MEDIA STUDIES", "LINGUISTICS", "PHILOSOPHY", "RELIGION AND POLITICS", "URBAN STUDIES", "BIOLOGY AND BIOMEDICAL SCIENCES", "DRAMA", "FIRST-YEAR PROGRAMS", "INTERNATIONAL AND AREA STUDIES", "MATHEMATICS AND STATISTICS", "PHILOSOPHY-NEUROSCIENCE-PSYCHOLOGY", "RELIGIOUS STUDIES", "WOMEN, GENDER, AND SEXUALITY STUDIES", "CENTER FOR THE HUMANITIES", "EARTH AND PLANETARY SCIENCES", "FRENCH", "ART HISTORY"].sort();
        Categories['Engineering & Applied Science'] = ["BIOMEDICAL ENGINEERING", "COMPUTER SCIENCE AND ENGINEERING", "ELECTRICAL AND SYSTEMS ENGINEERING", "ENERGY, ENVIRONMENTAL AND CHEMICAL ENGR", "GENERAL ENGINEERING", "MECHANICAL ENGINEERING"].sort();
        Categories['Architecture'] = ["ARCHITECTURE"];
        Categories['LAW School'] = ["LAW"];
        Categories['Medicine'] = ['ANATOMY AND NEUROBIOLOGY', 'ANESTHESIOLOGY', 'GENETICS', 'NEUROLOGY', 'OBSTETRICS AND GYNECOLOGY', 'PATHOLOGY', 'PEDIATRICS', 'OTOLARYNGOLOGY', 'RADIOLOGY', 'SURGERY'].sort();
        Categories['Business'] = ["MANAGEMENT", "ACCOUNTING", "ADMINISTRATION", "MANAGERIAL ECONOMICS", "DATA ANALYTICS", "MARKETING", "FINANCE"].sort();
        Categories['Design & Arts'] = ["DESIGN & VISUAL ARTS"];
        Categories['Public Health & Social Work'] = ["SOCIAL STUDIES"];
        Categories['Extracurricular Reading'] = ['LITERATURE & FICTION', 'CLASSIC', 'CHILDREN', 'COOKBOOKS', 'HEALTH & FITNESS', 'ROMANCE', 'HISTORY', 'SCIENCE FICTION & FANTASY', 'MYSTERY', 'RELIGION'].sort();

        var x = select[0].value


        select[1].options.length = 0;


        for (i = 0; i < Categories[x].length; i++) {
            option = new Option(Categories[x][i], Categories[x][i]);
            select[1].options.add(option);
        }

    }


</script>



<body>

    <div class="main">
        <h2>Rustle UsedBook Website</h2>

        <div class='preview'>
            <img id="Uploaded" src="{% static "image/YiTu.jpg" %}" alt="your image" /><br>
            <input type="file" accept="image/*" onchange="preview(event)">
        </div>

        <form action="" method="post">


            <input type="text" name="name" id="name" placeholder="Book Name (required)" />

            <input type="text" name="Price" id="Price" placeholder="Estimated Price (required)" />

            <!-- <input type="text" name="Date" id="Date" placeholder="Estimated Available Date (required)" /> -->

            <p id="email">Email: </p>

            <input type="text" name="Message" id="Message" placeholder="You can Leave a brief message here!" />



        </form>

        <div class='Choose'>
            <form method="POST">
                <!-- <label> Select Courses Categories: </label>
                <select class="select" onChange="changeCategories()">
                    <option value="All Categories" selected='selected'>All Categories</option>
                    <option value="Art & Science">Art & Science</option>
                    <option value="Engineering & Applied Science">Engineering & Applied Science</option>
                    <option value="Architecture">Architecture</option>
                    <option value="LAW School">LAW School</option>
                    <option value="Medicine">Medicine</option>
                    <option value="Business">Business</option>
                    <option value="Design & Arts">Design & Arts</option>
                    <option value="Public Health & Social Work">Public Health & Social Work</option>
                    <option value="Extracurricular Reading">Extracurricular Reading</option>
                </select>
                <br>
                <label>Choose Subjects : </label>
                <br>
                <select name="Subject" class="select" id="subject">

                </select> -->
                <input type="text" id="coursecode" placeholder="course code separated by comma(e.g CSE417,CSE517)" />
            </form>

        </div class="submit">

        <form>
            <input type="button" name="Publish" id="Publish" value="Publish" />
            <input type="button" name="Cancel" id="Cancel" value="Cancel" />
        </form>


    </div>

</body>

<script>
    // changeCategories();
    firebase.auth().onAuthStateChanged(function (user) {
        if (user) {
            $("#email").text(user.email);
        }
        else {
            window.location.replace('signin');
        }
    })
    $("#Publish").on('click', publish);
    $("#Cancel").on('click', cancel);
    // $("#Date").datepicker({ dateFormat: 'yyyy-mm-dd' });
    $(function () {
        // $( "#Date" ).datepicker({ dateFormat: 'yy-mm-dd' });
    });

    window.onerror = function myErrorHandler(errorMsg, url, lineNumber) {
        alert("Error occured: " + errorMsg);//or any message
        return false;
    }
</script>

<script type='text/javascript'>
    function preview(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('Uploaded');
            output.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
        changeimgref(event.target.files[0]);
    }
</script>