<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>login</title>
  <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
  <script src="https://www.gstatic.com/firebasejs/5.9.3/firebase-app.js"></script>

  <!-- Add additional services that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/5.9.3/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.9.3/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.9.3/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-storage.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.9.3/firebase-messaging.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.9.3/firebase-functions.js"></script>
  {% load static %}
  <link rel="shortcut icon" href="{%  static 'image/wustl.png' %}">
  <script src="{% static "js/signin.js" %}"></script>
  <script>
    // let config = {
    //   apiKey: "AIzaSyCk9tCZvvQ4e2ztVtEezW_lebc79PXaTbc",
    //   authDomain: "washu-usedbook.firebaseapp.com",
    //   databaseURL: "https://washu-usedbook.firebaseio.com",
    //   projectId: "washu-usedbook",
    //   storageBucket: "washu-usedbook.appspot.com",
    //   messagingSenderId: "988288386198"
    // };
    // firebase.initializeApp(config);
    // let user = firebase.auth().currentUser;

    // if (user) {
    //   window.location.replace('account');
    // } else {
    //   // No user is signed in.
    // }
  </script>
  <!-- *******************************************************************************************
       * TODO(DEVELOPER): Paste the initialization snippet from:
       * Firebase Console > Overview > Add Firebase to your web app. *
       ***************************************************************************************** -->

  <script type="text/javascript">

    // FirebaseUI config.
    // let uiConfig = {
    //   signInFlow:"popup",
    //   signInSuccessUrl: 'account',
    //   signInOptions: [
    //     // Leave the lines as is for the providers you want to offer your users.
    //     firebase.auth.GoogleAuthProvider.PROVIDER_ID,
    //     firebase.auth.EmailAuthProvider.PROVIDER_ID,
    //     // firebase.auth.PhoneAuthProvider.PROVIDER_ID,
    //   ],

    //   // tosUrl and privacyPolicyUrl accept either url string or a callback
    //   // function.
    //   // Terms of service url/callback.
    //   tosUrl: '<your-tos-url>',
    //   // Privacy policy url/callback.
    //   privacyPolicyUrl: function () {
    //     window.location.assign('<your-privacy-policy-url>');
    //   }
    // };

    // // Initialize the FirebaseUI Widget using Firebase.
    // let ui = new firebaseui.auth.AuthUI(firebase.auth());
    // // The start method will wait until the DOM is loaded.
    // ui.start('#firebaseui-auth-container', uiConfig);
    window.onerror = function myErrorHandler(errorMsg, url, lineNumber) {
      alert("Error occured: " + errorMsg);//or any message
      return false;
    }
  </script>
</head>



<body>
  <!-- The surrounding HTML is left untouched by FirebaseUI.
         Your app may use that space for branding, controls and other customizations.-->
  <h1>Welcome to Rustle</h1>
  <div id="firebaseui-auth-container"></div>
</body>

</html>